body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
}

.register {
    border: solid black 2px;
    padding: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: inherit;
}